# =====================================================================
# 🐍 PYTHON / DJANGO ENTORNOS VIRTUALES
# =====================================================================
.venv/
venv/
env/
ENV/
htmlcov/
.env

# =====================================================================
# 📦 ARCHIVOS COMPILADOS Y CACHÉ
# =====================================================================
**/__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# =====================================================================
# 🗄️ BASE DE DATOS
# =====================================================================
db.sqlite3

# =====================================================================
# 📸 ARCHIVOS MULTIMEDIA / CARGADOS POR USUARIOS (Media)
# =====================================================================
media/
static_root/

# =====================================================================
# 💻 ARCHIVOS DEL SISTEMA OPERATIVO / EDITORES
# =====================================================================
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Editores de código
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp