{% extends "blog/base.html" %}

    {% block contenido %}

    <h2>Acerca de Mi</h2>

        <p>¡Hola! Soy Oscar Orozco, un apasionado desarrollador web con experiencia en Django y Python. 
            
            Me encanta crear aplicaciones web funcionales y atractivas que resuelvan problemas reales. 
            
            En este blog, compartiré mis conocimientos, proyectos y experiencias en el mundo del desarrollo web. 
            
            ¡Gracias por visitar mi sitio!</p>
    
        <h3>Contacto</h3>
        <p>Si deseas ponerte en contacto conmigo, puedes enviarme un correo electrónico a <a href="mailto:oorozcoh@gmail.com">Oscar.Orozco@mymail.com</a></p>

    {% endblock %}