{% extends "blog/base.html" %}

    {% block contenido %}

    <h2>Bienvenido al Blog de Oscar Orozco</h2>

    <p>
        Este es un blog desarrollado con Django utilizando el patrón
        Modelo - Vista - Template (MVT).
    </p>

    <p>
        Desde este sitio puedes:
    </p>

    <ul>
        <li>Crear autores</li>
        <li>Crear categorías</li>
        <li>Publicar posts</li>
        <li>Ver los posts publicados</li>
        <li>Buscar posts por título</li>
        <li>Enviar mensajes a los autores (necesita iniciar sesión)</li>
        <li>Listar los mensajes recibidos (necesita iniciar sesión)</li>
        <li>Editar tu perfil de usuario (necesita iniciar sesión)</li>
        <ul>(Cambiar foto de perfil, nombre de usuario, email o contraseña)</ul>
    </ul>

    <p>
        Usa el menú superior para navegar por las distintas secciones.
    </p>

    {% endblock %}